<div class="bg-light px-4 py-3 text-uppercase fw-bold">Заказ</div>

<div class="p-4">
    <p class="fst-italic mb-4">Цена вычислена с учётом доставки</p>
    <ul 
        *ngIf="(cartService.cartTotalSource$ | async) as totals"
        class="list-unstyled mb-4" 
    >
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Сумма заказа</strong>
            <strong>{{ totals.subtotal | currency }}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Цена доставки</strong>
            <strong>{{ totals.shipping | currency }}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Общяя сумма</strong>
            <strong>{{ totals.total | currency }}</strong>
        </li>
    </ul>
</div>
