<header class="d-flex align-items-center justify-content-between px-4 py-2 bg-white border-bottom shadow-sm">
    <a
        routerLink="/"
    >
        <img 
            src="/assets/images/svg/logo.svg" 
            alt="logo" 
            class="logo-img"
        />
    </a>

    
    <nav class="my-2 text-uppercase fs-4">
        <a 
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="p-2"
        >
            Главная
        </a>
        <a 
            routerLink="/shop"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="p-2"
        >
            Магазин
        </a>
        <a 
            routerLink="/contact"
            routerLinkActive="active"
            class="p-2"
        >
            Контакты
        </a>
    </nav>
    
    <div class="d-flex align-items-center">
        <a 
            routerLink="/cart"
            class="position-relative"
        >
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div
                *ngIf="(cartService.cartSource$ | async) as cart" 
                class="cart-no"
            >
                {{ getCartItemsCount(cart.items) }}
            </div>
        </a>

        <ng-container *ngIf="(accountService.currentUser$ | async) === null">
            <a 
                routerLink="/account/login" 
                class="btn btn-outline-secondary me-2"
            >
                Войти
            </a>
            <a 
                routerLink="/account/register"
                class="btn btn-outline-secondary me-3"
            >
                Регистрация
            </a>
        </ng-container>

        <ng-container *ngIf="accountService.currentUser$ | async as user">
            <div 
                dropdown
                class="dropdown ms-3 me-5"
            >
                <a 
                    dropdownToggle 
                    class="dropdown-toggle"
                >
                    <strong>Добро пожаловать {{ user.displayName }}</strong>
                </a>
                <ul 
                    *dropdownMenu 
                    class="dropdown-menu dropdown-menu-right"
                >
                    <li class="py-1">
                        <a 
                            routerLink="/cart" 
                            class="dropdown-item"
                        >
                            <i class="fa fa-shopping-cart me-3"></i> 
                            Посмотреть корзину
                        </a>
                    </li>
                    <li class="py-1">
                        <a 
                            routerLink="/orders" 
                            class="dropdown-item"
                        >
                            <i class="fa fa-history me-3"></i> 
                            Посмотреть заказы
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="py-1">
                        <a 
                            (click)="accountService.logout()" 
                            class="dropdown-item"
                        >
                            <i class="fa fa-sign-out me-3"></i> 
                            Выйти
                        </a>
                    </li>
                </ul>
            </div>
        </ng-container>
    </div>
</header>
