header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

a {
    text-decoration: none;
    color: #343A40;
    &.active {
        color: #F8C8DC;
    }
}

.logo-img {
    cursor: pointer;
    max-height: 70px;
}

.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background: #FFEA00;
    color: #FFFFFF;
    text-align: center;
    top: -12px;
    right: 32px;
}
