<div class="bg-light px-4 py-3 text-uppercase fw-bold">
    Заказ
</div>

<div class="p-4">
    <p class="fst-italic mb-4">Цена доставки будет подсчитана в зависмости от выбранного способа доставки</p>
    <ul class="list-unstyled mb-4" *ngIf="(cartService.cartTotalSource$ | async) as totals">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Цена заказа без учёта доставки</strong>
            <strong>{{ totals.subtotal | currency }}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Доставка</strong>
            <strong>{{ totals.shipping | currency }}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Итого</strong>
            <strong>{{ totals.total | currency }}</strong>
        </li>
    </ul>
</div>
