<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center row">
        <div class="col-md-6">
            <img 
                src="https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569__340.jpg" 
                alt="not-found"
                class="img-fluid"
            />
        </div>
        <div class="col-md-6 mt-5">
            <p class="fs-3"> 
                <span class="text-danger">Упс!</span>
                Страница, которую вы ищете не найдена.
            </p>
            <p class="lead">
                Увы, нет такой страницы.
            </p>
            <a 
                routerLink="/" 
                class="btn btn-primary"
            >
                Главная
            </a>
        </div>
    </div>
</div>
