<div class="container py-2">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
            <div class="card">
                <div
                    *ngFor="let review of reviews" 
                    class="card-body"
                >
                    <div class="d-flex flex-start align-items-center">
                    <img 
                        class="rounded-circle shadow-1-strong me-3"
                        src="assets/images/svg/circle_user_icon.svg" 
                        alt="avatar" width="60"
                        height="60" 
                    />
                    <div>
                        <h6 class="fw-bold text-primary mb-1">{{ review.author }}</h6>
                        <p class="text-muted small mb-0">{{ review.createdAt | date:'longDate' }}</p>
                    </div>
                    </div>

                    <p class="mt-3 mb-4 pb-2">{{ review.body }}</p>
                </div>
                <form 
                    [formGroup]="reviewFormGroup" 
                    class="card-footer py-3 border-0" 
                    style="background-color: #f8f9fa;"
                >
                    <div class="d-flex flex-start w-100">
                        <img 
                            class="rounded-circle shadow-1-strong me-3"
                            src="assets/images/svg/circle_user_icon.svg" 
                            alt="avatar" 
                            width="40"
                            height="40" 
                        />
                        <div data-mdb-input-init class="form-outline w-100">
                            <textarea 
                                formControlName="body"
                                class="form-control" 
                                id="textAreaExample" 
                                rows="4"
                                style="background: #fff;"
                            ></textarea>
                            <label class="form-label" for="textAreaExample">Отзыв</label>
                        </div>
                    </div>
                    <div class="float-end mt-2 pt-1">
                        <button 
                            [disabled]="reviewFormGroup.invalid"
                            (click)="onSave()" 
                            data-mdb-button-init data-mdb-ripple-init 
                            class="btn btn-primary btn-sm"
                        >
                            Отправить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
