<div
    *ngIf="product"
    class="row"
>
    <div class="col-6">
        <img 
            src="{{ product.pictureUrl }}" 
            alt="{{ product.name }}" 
            class="w-100"
        />
    </div>
    <div class="col-6 mt-5">
        <h2>{{ product.name }}</h2>
        <p class="price_text">{{ product.price | currency }}</p>
        <h5 
            *ngIf="quantityInCart > 0"
            class="text-primary mb-3" 
        >
            В вашей корзине {{ quantityInCart }} штук данного продукта
        </h5>

        <div class="d-flex justify-content-start align-items-center">
            <i 
                (click)="decrementQuantity()"
                class="fa fa-minus-circle text-warning me-2" 
            ></i>
            <span class="font-weight-bold qty_text">
                {{ quantity }}
            </span>
            <i 
                (click)="incrementQuantity()"
                class="fa fa-plus-circle text-warning ms-2" 
            ></i>
            <button 
                (click)="updateCart()"
                [disabled]="quantity === quantityInCart"
                class="btn btn-outline-primary ms-4"
            >
                {{ buttonText }}
            </button>
        </div>
        <div class="row mt-4">
            <h4>Описание</h4>
            <p>{{ product.description }}</p>
        </div>
    </div>

    <app-review 
        [reviews]="product.reviews"
        [productId]="product.id"
    ></app-review>
</div>
