<div class="table-responsive" *ngIf="(cartService.cartSource$ | async) as cart">
    <table class="table">
        <thead class="text-uppercase" [class.bg-light]="isCart">
            <tr>
                <th>
                    <div class="py-2">Продукт</div>
                </th>
                <th>
                    <div class="py-2">Цена</div>
                </th>
                <th [class.text-center]="!isCart">
                    <div class="py-2">Количество</div>
                </th>
                <th>
                    <div class="py-2">Итого</div>
                </th>
                <th *ngIf="isCart">
                    <div class="py-2">Удалить</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.items">
                <th>
                    <div class="p-2 d-inline-block">
                        <img 
                            src="{{ baseUrl }}/{{ item.pictureUrl }}" 
                            alt="{{ item.productName }}" 
                            class="img-fluid"
                            style="max-height: 50px;"
                        />
                        <div class="ms-3 d-inline-block align-middle">
                            <h5 class="mb-0">
                                <a 
                                    routerLink="/shop/{{ item.id }}" 
                                    class="text-dark text-decoration-none"
                                >
                                    {{ item.productName }}
                                </a>
                            </h5>
                            <span class="text-muted fst-italic">
                                Type: {{ item.type }}
                            </span>
                        </div>
                    </div>
                </th>
                <td class="align-middle">
                    <strong>{{ item.price | currency }}</strong>
                </td>
                <td class="align-middle">
                    <div 
                        class="d-flex align-items-center" 
                        [class.justify-content-center]="!isCart" 
                    >
                        <i 
                            *ngIf="isCart" class="fa fa-minus-circle text-warning me-2" 
                            (click)="removeCartItem(item.id, 1)"
                            style="cursor: pointer; font-size: 2em;"
                        ></i>
                        <strong style="font-size: 1.2em;">{{ item.quantity }}</strong>
                        <i 
                            *ngIf="isCart" class="fa fa-plus-circle text-warning mx-2" 
                            (click)="addCartItem(item)"    
                            style="cursor: pointer; font-size: 2em;"
                        ></i>
                    </div>
                </td>
                <td class="align-middle">
                    <strong>{{ item.price * item.quantity | currency }}</strong>
                </td>
                <td 
                    *ngIf="isCart"
                    class="align-middle"
                > 
                    <a class="text-danger">
                        <i
                            (click)="removeCartItem(item.id, item.quantity)"
                            class="fa fa-trash" 
                            style="font-size: 2em; cursor: pointer;"
                        ></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
